

<!-- Modal -->
<div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="incomeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New income transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div id="income-transaction">

          <form @submit.prevent="submitIncomeForm">
            <!-- errors here -->
            <div v-if="errors.length" class="alert alert-danger">
              <b>Please correct the following error(s):</b>
              <ul>
                <li v-for="error in errors">{{ error }}</li>
              </ul>
            </div>
            <!-- notices here -->
            <div v-if="notice.length">
              <pre v-for="notice in notice" class="alert alert-success"> {{ notice }} </pre>
            </div>
            <!-- fields go -->
            <div>
              <label for="account_id">Select Account</label><br>
              <select v-model="account_id" class="form-control">
                <% account_names_and_ids.each do |element|  %>
                  <option value="<%= element[1] %>"><%= element[0] %></option>
                <% end %>
              </select>
            </div>
            <div>
              <label for="category_id">Select Category</label><br>
              <select v-model="category_id" class="form-control">
                <% category_names_and_ids.each do |element|  %>
                  <option value="<%= element[1] %>"><%= element[0] %></option>
                <% end %>
              </select>
            </div>
            <div>
              <input id="destination_account_id" type="text" v-model="destination_account_id" hidden />
              <input id="destination_account_amount" type="text" v-model="destination_account_amount" hidden />
            </div>
            <div>
              <label for="amount">Input Amount</label><br>
              <input id="amount" type="text" v-model="amount" class="form-control"/>
            </div>
            <div>
              <label for="comment">comment</label><br>
              <input id="comment" type="text" v-model="comment" class="form-control"/>
            </div>
            <br>
            <button :class="[account_id ? activeClass : '']" type="submit" class="btn btn-warning">Add Transaction</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
