<!-- template for the modal component -->
<script type="text/x-template" id="modal-template">
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              super default !
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              not default body =)
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">
                OK
              </button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</script>

<!-- app -->
<div id="app">
  <button id="show-modal" @click="showModal = true" class="btn btn-link">Income</button>
  <!-- use the modal component, pass in the prop -->
  <modal v-if="showModal" @close="showModal = false">
    <!--
      you can use custom content here to overwrite
      default content
    -->
    <h3 slot="header">New Income Transaction</h3>

    <div id="transaction" slot="body">
      <form @submit.prevent="submitForm">
        <div>
          <label for="account_id">account_id</label><br>
          <input id="account_id" type="text" v-model="account_id" required/>
        </div>
        <div>
          <label for="destination_account_id">destination_account_id</label><br>
          <input id="destination_account_id" type="text" v-model="destination_account_id" required/>
        </div>
        <div>
          <label for="amount">amount</label><br>
          <input id="amount" type="text" v-model="amount" required/>
        </div>
        <div>
          <label for="destination_account_amount">destination_account_amount</label><br>
          <input id="destination_account_amount" type="text" v-model="destination_account_amount" required/>
        </div>
        <div>
          <label for="comment">comment</label><br>
          <input id="comment" type="text" v-model="comment" required/>
        </div>
        <div>
          <label for="category_id">category_id</label><br>
          <input id="category_id" type="text" v-model="category_id" required/>
        </div>

        <button :class="[account_id ? activeClass : '']" type="submit">Submit</button>
        <div>
          <h3>Response from server:</h3>
          <pre>{{ response }}</pre>
        </div>
      </form>
    </div>


  </modal>
</div>
