
<div class="row">
  <div class="col-9">
      <%= render 'account_card' %>
  </div>

  <div class="col-3 details">



    <hr>
    <h5>Transactions:</h5>
      <%= render 'transactions' %>

  </div>
</div>


