<div class="container">
  <nav>
    <menu>
      <menuitem id="demo1">
        <a>New</a>
        <menu>
          <menuitem>
            <!-- Button trigger modal -->
            <a data-toggle="modal" data-target="#accountModal">Account</a>
          </menuitem>
          <menuitem>
            <a>Transaction</a>
            <menu>
              <menuitem>
                <!-- Button trigger modal -->
                <a data-toggle="modal" data-target="#incomeModal">Income</a>
              </menuitem>
              <menuitem>
                <!-- Button trigger modal -->
                <a data-toggle="modal" data-target="#expanseModal">Expanse</a>
              </menuitem>
              <menuitem>
                <!-- Button trigger modal -->
                <a data-toggle="modal" data-target="#transferModal">Transfer</a>
              </menuitem>
            </menu>
          </menuitem>
        </menu>
      </menuitem>

      <menuitem>
        <a>Categories</a>
        <menu>
          <menuitem>
            <!-- Button trigger modal -->
            <a data-toggle="modal" data-target="#categoryModal">New</a>
          </menuitem>
          <menuitem>
            <!-- Button trigger modal -->
            <a data-toggle="modal" data-target="#view-categoryModal">View</a>
          </menuitem>
        </menu>
      </menuitem>

      <menuitem><%= link_to 'Home', static_pages_home_url %></menuitem>
      <menuitem><%= link_to 'About', static_pages_about_url %></menuitem>

    </menu>
    <br>
    <hr>
    <br>
  </nav>
</div>